<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net,Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />

    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>

    <section name="UserManagerProvider" type="Feng.UserManager.ProviderConfigurationSection, Feng.Security" />

    <section name="ColorSettings" type="Feng.ColorSettings, Feng.Base" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate" />
    
    <section name="repository" type="Feng.NH.NHibernateRepositoryMappingSection, Feng.Base" />

  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <description>Example</description>
      <object name="Program" type="Feng.Run.FengProgram, Feng.Run">
        <constructor-arg index="0" value="Example"/>
        <constructor-arg index="1" value="Public"/>
        <constructor-arg index="2" value=""/>
      </object>
      <object name="DataFactory" type="Feng.DbDataFactory, Feng.Application">
      </object>
    </objects>
  </spring>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="Fatal" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="trace.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="FlatFile TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Text Formatter" />
    </formatters>
    <logFilters>
      <add enabled="true" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="LogEnabled Filter" />
      <add minimumPriority="0" maximumPriority="2147483647" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Priority Filter" />
      <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Category Filter" />
    </logFilters>
    <categorySources>
      <add switchValue="All" name="Debug">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Fatal">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Info">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Warn">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <securityCryptographyConfiguration defaultHashInstance="hashprovider"
    defaultSymmetricCryptoInstance="symprovider">
    <hashProviders>
      <add algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        saltEnabled="true" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="hashprovider" />
    </hashProviders>
    <symmetricCryptoProviders>
      <add algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        protectedKeyFilename="C:\WINDOWS\system32\SymmetricKeyFile.key"
        protectedKeyProtectionScope="LocalMachine" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="symprovider" />
    </symmetricCryptoProviders>
  </securityCryptographyConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Global Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="Feng.Windows.Forms.AppMessageExceptionHandler, Feng.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
                name="AppMessageException Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Handle and Resume Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="None" name="Exception" />
        </exceptionTypes>
      </add>
      <add name="Notify Policy Error">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add logCategory="Debug" eventId="100" severity="Verbose" title="Notify"
                formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                priority="0" useDefaultLogger="false" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Logging Handler" />
              <add type="Feng.Windows.Forms.AppMessageExceptionHandler, Feng.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
                name="AppMessageException Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Notify Policy Info">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="Feng.Windows.Forms.AppMessageWarningHandler, Feng.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
                name="AppMessageWarningHandler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Wrap Policy">
        <exceptionTypes>
          <!--<add type="NHibernate.HibernateException, NHibernate"
            postHandlingAction="ThrowNewException" name="HibernateException">
            <exceptionHandlers>
              <add exceptionMessage="出现数据库错误！" exceptionMessageResourceType=""
                wrapExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Wrap Handler" />
            </exceptionHandlers>
          </add> -->
          <add type="NHibernate.StaleObjectStateException, NHibernate"
            postHandlingAction="ThrowNewException" name="StaleObjectStateException">
            <exceptionHandlers>
              <add exceptionMessage="出现多人操作，数据将自动刷新，请刷新后请重试！" exceptionMessageResourceType=""
                wrapExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Wrap Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <securityConfiguration defaultAuthorizationInstance="RuleProvider"
    defaultSecurityCacheInstance="Caching Store Provider">
    <authorizationProviders>
      <add type="Microsoft.Practices.EnterpriseLibrary.Security.AuthorizationRuleProvider, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="RuleProvider" />
    </authorizationProviders>
    <securityCacheProviders>
      <add cacheManagerInstanceName="Cache Manager" defaultSlidingSessionExpirationInMinutes="10"
        defaultAbsoluteSessionExpirationInMinutes="60" type="Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore.CachingStoreProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Caching Store Provider" />
    </securityCacheProviders>
  </securityConfiguration>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
        type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Cache Manager" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Null Storage" />
    </backingStores>
  </cachingConfiguration>
  <connectionStrings>
    <add name="DataConnectionString" connectionString="Data Source=..\data.db;Version=3;UTF16Encoding=False;DateTimeFormat=Ticks"
      providerName="System.Data.SqlClient" />
    <add name="LoginConnecitonString" connectionString="Data Source=17haha8.kmip.net,8033;Initial Catalog=aspnetdb;User ID=sa;Password=qazwsxedc"
      providerName="System.Data.SqlClient" />
    <add name="LocalConnecitonString" connectionString="Data Source=..\data.db;Version=3;UTF16Encoding=False;DateTimeFormat=Ticks;New=false"
      providerName="EntLibContrib.Data.SQLite" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="LocalConnecitonString" >
    <providerMappings>
      <add databaseType="EntLibContrib.Data.SQLite.SQLiteDatabase, EntLibContrib.Data.SQLite"
          name="EntLibContrib.Data.SQLite" />
    </providerMappings>
  </dataConfiguration>

  <UserManagerProvider defaultProvider="WebServiceUserManager">
    <providers>
      <add name="WebServiceUserManager" description="User Manager with WebService" webServiceAddress="http://17haha8.kmip.net/WebLogin/WebLogin.asmx" type="Feng.UserManager.WebServiceProvider, Feng.Security" />
      <add name="AspNetUserManager" description="User Manager with Asp.Net" type="Feng.UserManager.AspNetProvider, Feng.Security" />
    </providers>
  </UserManagerProvider>
  <system.web>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LoginConnecitonString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" passwordFormat="Encrypted" requiresUniqueEmail="true" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="6" passwordStrengthRegularExpression="......" applicationName="jkhd" />
      </providers>
    </membership>
    <roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="true" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LoginConnecitonString" applicationName="jkhd" />
      </providers>
    </roleManager>
    <machineKey validationKey="6807704AC72B4B79719457D16C136AE0011945565DD89118F232B9B0F335DEF7559A11F7F168AE3BA1F03F902D52EEF92C4100CDD9E54CBA12FFF200ED73AB5B" decryptionKey="FCDBAC65C3FF54AC49CB6E429FB778811BD0976611D60E4A" validation="SHA1" />
  </system.web>




  <log4net debug="false">
    <appender name="trace" type="log4net.Appender.TraceAppender, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="console" type="log4net.Appender.ConsoleAppender, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821">
      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Size" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <param name="maximumFileSize" value="10000KB" />
      <param name="maxSizeRollBackups" value="5" />
      <param name="staticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <header value="[Header]&#xD;&#xA;" />
        <footer value="[Footer]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>

    <appender name="NHibernate.Profiler"
      type="HibernatingRhinos.NHibernate.Profiler.Appender.NHibernateProfilerAppender, 
		HibernatingRhinos.NHibernate.Profiler.Appender" >
      <sink value="tcp://127.0.0.1:22897/NHibernateAppenderLoggingSink" />
    </appender>
    <logger name="NHibernate.Transaction.AdoTransaction">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.Profiler"/>
    </logger>
    <logger name="NHibernate.Loader.Loader">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.Profiler"/>
    </logger>
    <logger name="NHibernate.Event.Default.DefaultLoadEventListener">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.Profiler"/>
    </logger>
    <logger name="NHibernate.Impl.AbstractSessionImpl">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.Profiler"/>
    </logger>
    <logger name="NHibernate.SQL">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.Profiler"/>
    </logger>
    <logger name="NHibernate.Impl.SessionImpl">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.Profiler"/>
    </logger>
    <logger name="NHibernate.Persister.Entity.AbstractEntityPersister">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.Profiler"/>
    </logger>

    <root>
      <priority value="ERROR" />
      <appender-ref ref="rollingFile" />
    </root>
    <!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->

  </log4net>

<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
      <property name="connection.connection_string_name">LocalConnecitonString</property>
      <property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider, NHibernate</property>
      <property name="cache.use_second_level_cache">true</property>
      <property name="cache.use_query_cache">true</property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
      <property name="prepare_sql">false</property>
			 <property name="query.substitutions">true=1;false=0</property>

      <property name="show_sql">false</property>
      <property name="generate_statistics">false</property>
       <property name="hbm2ddl.keywords">auto-quote</property>
        <mapping resource="Feng.Domain.hbm.xml" assembly="Feng.Base" />
    <mapping resource="Feng.Domain.hbm.xml" assembly="Feng.Application" />
  </session-factory>
</hibernate-configuration>

  <repository>
    <assemblies>
      <clearAssemblies/>
      <assembly name="Example.Model" type="attribute" />
    </assemblies>
  </repository>

  <appSettings>
    <add key="AuditEntity" value="false" />
    <add key="UserBuffer" value="false" />
  </appSettings>
  <ColorSettings Critical="255, 0, 0" Error="255, 255, 0" Warning="200, 200, 20" Information="150, 150, 40" Verbose="100, 100, 80" Disable="112, 112, 112" DisableHalf="192, 192, 192" LocatedRow="255, 128, 255" />
</configuration>